.modal-dialog {
  margin-top: 10% !important;
}
.modal-content {
  background-color: #333 !important;
  color: white !important;
}
input {
  border: none;
  margin: 5px;
  outline: none;
  padding: 2px 4px;
  border-radius: 5px;
}
nav {
  background-color: #ff7700 !important;
  height: 75px !important;
  box-shadow: 0 5px 5px grey !important;
}

a {
  color: black !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}
.carousel-control-next-icon:after {
  content: ">";
  font-weight: bolder;
  font-size: 35px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 35px;
  color: black;
}
.dropdownItems:hover {
  color: #ff7700 !important;
  background-color: #232b2b !important;
}
a:hover {
  text-decoration: none !important;
  color: white !important;
  transition: 0.2s;
}
.carouselButton {
  background: #343a40 !important;
  margin-top: 10px;
  font-weight: bolder;
  padding: 5px 20px;
  color: #ff7700;
  border: none;
  border-radius: 18px;
}
.carouselButton:hover {
  background: #ff7700 !important;
  color: white;
  transition: 0.2s;
}
.popUpLogin {
  background: #ff7700 !important;
}
.popUpLogin:hover {
  background: #dd6802 !important;
  /* color: black !important; */
}
.modal-header,
.modal-footer {
  border: none !important;
}
